@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-3">Registration</h1>
    <h1 class="display-3">Management System</h1>
    <h4 class="display-6">Select top menu Registration to register students for courses</h4>
    
</div>
